<app-navbar></app-navbar>
<div class="limiter">
    <div class="container-login100" style="background-image: url('../../assets/images/2.jpg');">
        <div class="wrap-login100" style="width: fit-content;">
            <form class="login100-form validate-form">
                <h1 style="text-align: center; color: black; margin-bottom: 30px; font-family:cursive;">Our collection</h1>
                <div class="row mb-2">
                    <div class="col-4" *ngFor="let pro of produit" style="height: 25rem;">
                        <div class="card" style="width: 18rem; background-color: black;">
                            <img src="../../assets/images/3.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <p class="card-text" style="text-align: center;">{{pro.nom}}</p>
                            </div>
                            <div class="card-footer" style="background-color: grey;">
                                <p class="card-text" style="text-align: center; color: black;">{{pro.nom}}dt</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4" style="height: 25rem;">
                        <div class="card" style="width: 18rem; background-color: black;">
                            <img src="../../assets/images/5.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <p class="card-text" style="text-align: center;">Xbox hoodie</p>
                            </div>
                            <div class="card-footer" style="background-color: grey;">
                                <p class="card-text" style="text-align: center; color: black;">139dt</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4" style="height: 25rem;">
                        <div class="card" style="width: 18rem; background-color: black;">
                            <img src="../../assets/images/5.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <p class="card-text" style="text-align: center;">Xbox hoodie</p>
                            </div>
                            <div class="card-footer" style="background-color: grey;">
                                <p class="card-text" style="text-align: center; color: black;">139dt</p>
                            </div>
                        </div>
                    </div>  <div class="col-4" style="height: 25rem;">
                        <div class="card" style="width: 18rem; background-color: black;">
                            <img src="../../assets/images/5.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <p class="card-text" style="text-align: center;">Xbox hoodie</p>
                            </div>
                            <div class="card-footer" style="background-color: grey;">
                                <p class="card-text" style="text-align: center; color: black;">139dt</p>
                            </div>
                        </div>
                    </div>  <div class="col-4" style="height: 25rem;">
                        <div class="card" style="width: 18rem; background-color: black;">
                            <img src="../../assets/images/5.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <p class="card-text" style="text-align: center;">Xbox hoodie</p>
                            </div>
                            <div class="card-footer" style="background-color: grey;">
                                <p class="card-text" style="text-align: center; color: black;">139dt</p>
                            </div>
                        </div>
                    </div>  <div class="col-4" style="height: 25rem;">
                        <div class="card" style="width: 18rem; background-color: black;">
                            <img src="../../assets/images/5.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <p class="card-text" style="text-align: center;">Xbox hoodie</p>
                            </div>
                            <div class="card-footer" style="background-color: grey;">
                                <p class="card-text" style="text-align: center; color: black;">139dt</p>
                            </div>
                        </div>
                    </div>  <div class="col-4" style="height: 25rem;">
                        <div class="card" style="width: 18rem; background-color: black;">
                            <img src="../../assets/images/5.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <p class="card-text" style="text-align: center;">Xbox hoodie</p>
                            </div>
                            <div class="card-footer" style="background-color: grey;">
                                <p class="card-text" style="text-align: center; color: black;">139dt</p>
                            </div>
                        </div>
                    </div>  <div class="col-4" style="height: 25rem;">
                        <div class="card" style="width: 18rem; background-color: black;">
                            <img src="../../assets/images/5.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <p class="card-text" style="text-align: center;">Xbox hoodie</p>
                            </div>
                            <div class="card-footer" style="background-color: grey;">
                                <p class="card-text" style="text-align: center; color: black;">139dt</p>
                            </div>
                        </div>
                    </div>  <div class="col-4" style="height: 25rem;">
                        <div class="card" style="width: 18rem; background-color: black;">
                            <img src="../../assets/images/5.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <p class="card-text" style="text-align: center;">Xbox hoodie</p>
                            </div>
                            <div class="card-footer" style="background-color: grey;">
                                <p class="card-text" style="text-align: center; color: black;">139dt</p>
                            </div>
                        </div>
                    </div>  <div class="col-4" style="height: 25rem;">
                        <div class="card" style="width: 18rem; background-color: black;">
                            <img src="../../assets/images/5.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <p class="card-text" style="text-align: center;">Xbox hoodie</p>
                            </div>
                            <div class="card-footer" style="background-color: grey;">
                                <p class="card-text" style="text-align: center; color: black;">139dt</p>
                            </div>
                        </div>
                    </div>  <div class="col-4" style="height: 25rem;">
                        <div class="card" style="width: 18rem; background-color: black;">
                            <img src="../../assets/images/5.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <p class="card-text" style="text-align: center;">Xbox hoodie</p>
                            </div>
                            <div class="card-footer" style="background-color: grey;">
                                <p class="card-text" style="text-align: center; color: black;">139dt</p>
                            </div>
                        </div>
                    </div>
                </div>

               
                

            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>